
#in {
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    background-color: greenyellow;
    color: green;
}

#re {
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    background-color: greenyellow;
    color: green;
}

#de {
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    background-color: greenyellow;
    color: green;
}